{
  "log": {
    "_recordingName": "Sourcegraph VS Code/SourcegraphFileSystemProvider",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "2f12614df4877d3bdbd609dfc6259737",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "token 96091d734d0bca0e1ee615ff92251555345e39bd"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "text/plain",
            "params": [],
            "text": "{\"query\":\"\\n            query Content($repository: String!, $revision: String!, $path: String!) {\\n                repository(name: $repository) {\\n                    commit(rev: $revision) {\\n                        blob(path: $path) {\\n                            content\\n                            binary\\n                            byteSize\\n                        }\\n                    }\\n                }\\n            }\\n        \",\"variables\":{\"repository\":\"github.com/sourcegraph/sourcegraph\",\"revision\":\"7f7726f6c5ad58493d1af038606cd66a9566b278\",\"path\":\".nvmrc\"}}"
          },
          "queryString": [],
          "url": "https://sourcegraph.com/.api/graphql"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 94,
            "text": "{\"data\":{\"repository\":{\"commit\":{\"blob\":{\"content\":\"16.7.0\\n\",\"binary\":false,\"byteSize\":7}}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-trace",
              "value": ""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 207,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
